apiVersion: apps/v1
kind: Deployment
metadata:
  name: valkey-deployment
spec:
  selector:
    matchLabels:
      app: valkey
  replicas: 1
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: valkey
    spec:
      containers:
        - name: valkey
          image: valkey/valkey:8.1-alpine
          ports:
            - containerPort: 6379
